@keyframes emerge {
    0% {
        opacity: 0.1;
        transform: scale(0.1);
    }

    25% {
        opacity: 0.3;
        transform: (0.3);
    }

    50% {
        opacity: 0.5;
        transform: (0.5);
    }

    75% {
        opacity: 0.7;
        transform: (0.7);
    }

    100% {
        opacity: 1;
        transform: (1.0);
    }
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-in;
    }

    40% {

        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-out;
    }

    80% {
        transform: perspective(400px)scale3d(0.95, 0.95, 0.95);
        animation-timing-function: ease-out;
    }

    to {
        transform: perspective(400px);
        animation-timing-function: ease-out;
    }
}

@keyframes pulse {
    0% {

        transform: scale3d(1, 1, 1);
    }

    50% {

        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {

        transform: scale3d(1, 1, 1);
    }
}

@keyframes newAnim {
    from {}

    to {
        background-image: url(../assets/img/img_bruschetta.png);
    }
}

@keyframes animScale {

    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

button:active {
    transform: scale(1.5, 1.5);
}

.introduce .cards div:hover {
    background-color: rgba(133, 250, 78, 0.1);
    transform: scale(1.1);
}