@font-face {
    font-family: Libre Franklin;
    src: url(/Users/test/Library/Fonts/LibreFranklin-VariableFont_wght_2.ttf);
}

@font-face {
    font-family: IBM Plex Mono;
    src: url(/Users/test/Library/Fonts/IBMPlexMono-Regular.ttf);
}