body {
    margin: 0;
}

h1,
h2,
h3,
h4,
a,
nav,
button {
    font-family: LibreFranklin;
    animation: emerge 4s;
}

p {
    color: rgba(153, 153, 153, 1);
    font-family: IBM Plex Mono;
    animation: emerge 4s;
}

.container {
    max-width: 1920px;
    min-width: 200px;
    margin: auto;
}

header {
    display: flex;
    background-image: url(../assets/img/img_main_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

header .container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

header .title {
    display: grid;
    grid-template-columns: 7fr repeat(7, 1fr);
    align-items: center;
    width: 100%;
}

header .title img {
    margin: 30px;
    animation: emerge 4s;
    animation: flip infinite 4s;
}

header .title a {
    text-decoration: none;
    color: white;
    padding: 25px;
}

header .title button {
    color: white;
    background-color: rgb(247, 248, 249, 0);
    border: 1px solid white;
    padding: 10px;
}

header .description {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

header .description h1 {
    color: white;
    font-size: 71px;
    ;
}

header .description p {
    color: white;
    font-size: 13px;
    text-align: center;
}

header .description button {
    background-color: rgba(90, 185, 99, 1);
    width: 160px;
    height: 60px;
    border: 1px solid white;
    color: white;
    margin: 40px 270px auto;
    border-radius: 4px;

}

header .description .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header .description .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid rgba(90, 185, 99, 1);
    border-radius: 5px;
    width: 50%;
    z-index: 2;
}

header .description .modal-content h5 {
    text-align: center;
    color: rgba(90, 185, 99, 1);
}

header .description .modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
}

header .description #closeModalBtn {
    cursor: pointer;
    color: rgba(90, 185, 99, 1);
}

main {
    padding: 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(1, 300px);
}

.services div {
    align-self: center;
    padding: 50px;
}

.introduce .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(1, 300px);
    row-gap: 30px;
    column-gap: 30px;
    animation: emerge 4s;
}

.introduce .cards div {
    padding: 40px;
    align-self: center;
    border: 1px solid rgba(247, 247, 247, 1);

}

.foto {
    margin: 100px auto;

}

.foto .imeges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: emerge 4s;
}

.foto .imeges div {
    width: 100%;
    padding: 300px;
    background-image: url(../assets/img/img_bruchketta_one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation: newAnim 5s infinite alternate;

}

.information {
    margin: 100px auto;
}

.information .article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information .article p {
    color: rgba(0, 0, 0, 0.4);
    margin: 8px auto;
}

.information .article a {
    color: rgba(90, 185, 99, 1);
    text-decoration: none;
    font-family: IBM Plex Mono;
    font-size: 11px;
}

span {
    font-family: IBMPlexMono-Bold;
    color: rgba(0, 0, 0, 1);
}

.apricots {
    margin: 100px auto;
}

.apricots .describe1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
    row-gap: 40px;
    column-gap: 60px;
    animation: emerge 4s;
}

.apricots .describe1 div img {
    width: 100%;
    animation: pulse infinite 5s 4s;
}

.apricots div {
    align-self: center;
    justify-self: center;
}

.apricots div p {
    padding: 0 100px;
}

.flakes {
    margin: 100px auto;
}

.flakes .describe2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
    row-gap: 40px;
    column-gap: 60px;
    animation: emerge 4s;
}

.flakes .describe2 div {
    align-self: center;
    justify-self: center;
}

.flakes .describe2 div img {
    width: 100%;
    animation: pulse infinite 5s 4s;
}

.flakes .describe2 div p {
    padding: 0 100px;

}

.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}

.offer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    animation: animScale infinite 2s 4s;
}

.offer div p {
    color: rgba(90, 185, 99, 1);
    text-decoration: none;
    font-family: IBM Plex Mono;
    font-size: 11px;
}

.partyOn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 130px auto;
}

.partyOn h4 {
    color: rgba(90, 185, 99, 1);
}

.partyOn button {
    background-color: rgba(90, 185, 99, 1);
    width: 160px;
    height: 60px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}

footer {
    margin: auto;
    background-color: rgba(10, 14, 26, 1);
}

footer .container .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

footer .container .menu div {
    display: grid;
}

footer .container .menu div img {
    width: 60px;
    animation: emerge 4s;
}

footer .container .menu div p {
    text-align: center;
    font-size: 20px;
    color: rgba(102, 102, 102, 1);
}

footer .container .menu nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

footer .container .menu nav a {
    display: grid;
    padding: 30px;
    grid-template-columns: auto;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

footer .container .menu nav #contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: emerge 4s;
}

footer .container .menu nav #contact .contact-content {
    padding: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    width: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin: 10% auto;
    transform: translateX(-50%);
    animation: emerge 4s;
}
footer .container .menu nav #contact .contact-content iframe{
    justify-self: center;
}
footer .container .menu nav #contact .contact-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .container .menu nav #contact #closeContact {
    cursor: pointer;
}

footer .container .menu nav #contact .contact-content input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

footer .container .menu nav #contact .contact-content input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

footer .container .menu nav #contact .contact-content input[type=submit]:hover {
    background-color: #45a049;
}

footer .container .menu nav #contact .contact-content .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

footer .container .menu nav #contact .contact-content .column {
    float: left;
    margin-top: 6px;
    padding: 20px;
}

footer .container .menu nav #contact .contact-content .row::after {
    content: "";
    display: table;
    clear: both;
}
iframe{
    width: 100%;
}